.header {
  background-color: #27563d;
}

.header-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0;
}

.header-title {
  color: #a2bcae;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.header-link {
  color: #a2bcae;
  text-decoration: none;
}
