.map-title {
  position: relative;
  left: 2.5em;
}

.resp-iframe {
  border-style: solid;
  color: #346d4e;
  border-width: 5px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 3em;
  width: 500px;
  height: 400px;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
