.content {
  display: block;
  color: inherit;
  padding: 5px 10px;
}

.home-table-title {
  text-align: center;
}

.home-table-layout {
  border: 5px solid #346d4e;
}

.home-table-layout thead {
  background-color: #346d4e;
  border-bottom: 2.5px solid black;
  text-align: center;
}

.home-table-layout td {
  //border-collapse: collapse;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.my-custom-scrollbar {
  position: relative;
  height: 442px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
